---
---

@import "jekyll-theme-primer";

#whirl_logo {
    width: 25% 
}

#topnav {
    position: relative;
}

#topnav a {
    font-size: 15px;
    color: #395c7e;
    padding-right: 15px;
}

#topnav a.icon {
    position: absolute;
    padding-right: 0;
    top: 0;
    right: 0;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      display: block;
      position: absolute;
      top: 30px;
      right: 0;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}